<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--开启直接扫描-->
    <context:component-scan base-package="com.baizhi.service" />
    <!-- 引入小配置文件  -->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!-- 创建数据源对象 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <!-- 注入连接相关的参数 -->
        <property name="driverClassName" value="${driver}"></property>
        <property name="url" value="${url}"></property>
        <property name="username" value="${name}"></property>
        <property name="password" value="${password}"></property>
    </bean>


    <!-- 创建SqlSessionFactory对象 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 依赖datasouce对象 -->
        <property name="dataSource" ref="dataSource"></property>
        <!-- 依赖配置文件的注册 -->
        <property name="mapperLocations" value="classpath:com/baizhi/mapper/*.xml"></property>

        <!-- 注入项目中实体别名
            spring框架整合mybatis 默认支持 实体类名 | 类名首字母小写
        -->
        <property name="typeAliasesPackage" value="com.baizhi.entity"></property>
    </bean>


    <!-- 创建项目中的所有dao对象 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 依赖于sqlSessionFactory -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
        <!-- 依赖于所有创建Dao接口所在的位置  -->
        <property name="basePackage" value="com.baizhi.dao"></property>
    </bean>

    <!-- 创建事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 依赖数据源对象 -->
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!-- 开启注解式事务生效 -->
    <tx:annotation-driven/>
    <!--文件上传解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxInMemorySize" value="20971520"/>
    </bean>

</beans>